.outBox{
    margin: auto;
    max-width: 700px;
    min-width: 400px;
    background-color: #FBEAEB;
    margin-top: 30px;
}
.mainTitle{
    margin: auto;
    max-width: 700px;
    max-height: 300px;
    min-width: 400px;
    min-height: 50px;
    background-color: #FBEAEB;
    font-size: 24px;
    font-weight: bold;
    color: #2f3c7e
}

#mainDisplay{
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    border-color: #2f3c7e ;
    border-style: dashed;
    border-width: 3px;
  ;
    text-align: center;
}

.genPassButton, .copyToClip{
    margin: auto;
    background-color: #2f3c7e ;
    color: #FBEAEB;
    font-weight: bold;
}

#passLength{
    width: 100%;
}

.jsButtons{
    margin: auto;
    text-align: center;
}